<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            {% if user.is_authenticated %}
        <li class="nav-item">
            <a href="{% url 'authapp:logout' %}" class="nav-link">Выход</a>
        </li>
         <li class="nav-item">
            <a href="{% url 'projectapp:main' %}" {% if 'main' or '' in request.resolver_match.url_name %}class="nav-link active"{% endif %}>Ваши проекты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Что-то еще...</a>
        </li>
            {% else %}
        <li class="nav-item">
            <a href="{% url 'authapp:login' %}" {% if '' in request.resolver_match.url_name %}class="nav-link active"{% endif %}>Вход</a>
        </li>
            {% endif %}
    </ul>
</div>